.navbar-color {
    background-color: #6610f2;
}

.navbar-brand {
    font-size: 2em;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
}

.grid-container {
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu';  
}

.grid-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    width: 100%;
    min-height: 100vh;
}

#purpose-section {
    background-image: url("https://images.unsplash.com/photo-1520052205864-92d242b3a76b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1769&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0px;
}
#purpose-section .main-title {
    color: white;
    text-shadow: 1px 1px 5px black;
}
#purpose-section p {
    color: white;
    text-shadow: 1px 1px 5px black;
}

#data-section {
    background-image: url("https://images.unsplash.com/photo-1508615121316-fe792af62a63?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80");
    background-image: url("https://images.unsplash.com/photo-1603852174365-4cc41b475968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1366&q=80");
    background-image: url("https://images.unsplash.com/photo-1485140662179-98e1bcb8e974?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1669&q=80");
    background-image: url("https://images.unsplash.com/photo-1510906594845-bc082582c8cc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80");
    background-image: url("https://images.unsplash.com/photo-1449156733864-dd5471bb7427?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80");
    background-image: url("https://images.unsplash.com/photo-1502465268963-9d929108b846?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1773&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0px;
}
#data-section .main-title {
    color: white;
    text-shadow: 1px 1px 5px black;
}
#data-section p {
    color: white;
    text-shadow: 1px 1px 5px black;
}

#tech-section {
    background-image: url("https://images.unsplash.com/photo-1554227231-54aa5db01c51?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 100px 0px;
}
#tech-section .main-title {
    color: white;
    text-shadow: 3px 3px 15px black;
    margin-top: 100px;
    margin-bottom: 100px;
}
#tech-section p {
    color: white;
    text-shadow: 3px 3px 15px black
}

#tech-section .icons-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

#tech-section .icons-card {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

#tech-section .icons-card img {
    height: 70px
}

#tech-section .icons-card h1 {
    color: black;
    font-size: 20px;
}

#tech-section .main-title {
    text-shadow: none;
    color: black;
}

.main-title {
    margin-bottom: 50px;
    font-size: 60px;
}

.grid-child p {
    text-align: center;
    font-size: 20px;
    margin: 0px 200px;  
    text-decoration: none;
}


footer div {
    color: white;
}

footer div a {
    text-decoration: None;
}

@media only screen and (max-width:1280px){
    #tech-section .icons-section {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width:900px){
    #tech-section .icons-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:500px){
    #tech-section .icons-section {
        grid-template-columns: repeat(1, 1fr);
    }
}

